@media screen and (min-width: 400px) {
}

.product{
    transition: .5s ease;
}

.product:hover {
    opacity: .5;
    background-color:#000;
}

.results-head{
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.results-grid{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

.filter-container{
    padding-top: 1em;
    padding-bottom: 0.2em;
    padding-left: 2em;
    padding-right: 2em;
}

.center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    
}

.underline{
    text-decoration: underline;
}

.bold{
    font-weight: 490;
    color: #000;
}